@model IEnumerable<Frycz_pcdb.computer>

@{
    ViewBag.Title = "AllComputersView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="allCompH">Computers - all</h2>

<p>
    <button type="button" id="addButton" onclick="location.href = '@Url.Action("Index", "AddComputer", Model)'" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>    Add computers</button>
</p>
<table id="example" class="table table-striped display">
    <thead>
    <tr>
        <th class="sorting">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serial_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inventory_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guarantee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.computer_brand.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.computer_parameters.processor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bpcs_sessions)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td id="myRow">
                <a href="@Url.Action("Index", "ComputerDetail", item)">@Html.DisplayFor(modelItem => item.name)   <span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.user.lastname)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.user.firstname)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.mac_address)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.serial_number)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.inventory_number)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.last_update_time)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.guarantee)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.computer_brand.model)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.computer_parameters.processor)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.o.name)
            </td>
            <td id="myRow">
                @Html.DisplayFor(modelItem => item.bpcs_sessions)
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <p>
        <br />
        <br />
    </p>

</div>

<script type="text/javascript">

    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
    $(document).ready(function() {
        $('#example').DataTable({
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });
    } );

</script>