@model Frycz_pcdb.computer_type

@{
    ViewBag.Title = "AddComputerType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Computer Type</h2>

@using (Html.BeginForm("SaveAdd", "ComputerType")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Computer type</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" }, @Value = "" })
                @Html.ValidationMessage("exist", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <button type="button" onclick="window.history.back();" class="btn btn-link">
        <span class="glyphicon glyphicon-backward"></span> Back
    </button>
</div>