@model IEnumerable<Frycz_pcdb.computer_type>

@{
    ViewBag.Title = "AllComputerType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Computer type</h2>

<p>
    <button type="button" id="addButton" onclick="location.href = '@Url.Action("AddComputerType", "ComputerType")'" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>    Add computer type</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <button type="button" onclick="location.href = '@Url.Action("EditComputerType", "ComputerType", item)'" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" data-toggle="modal" data-target="#modalDel" onclick="@(ViewBag.nam = item)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
    }

</table>

<!-- Modal for delete-->
<div id="modalDel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete computer type</h4>
            </div>
            <div class="modal-body">
                <p><strong>Warning! </strong> This information will be lost in all computers.</p>
                <p>Really you wanna permanently delete computer type <b>@ViewBag.nam.name</b> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("DeleteType", "ComputerType", ViewBag.nam)'">Delete</button>
            </div>
        </div>

    </div>
</div>