@using System.Web.UI.WebControls
@model Frycz_pcdb.computer_parameters

@{
    ViewBag.Title = "AddComputerParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add computer parameters</h2>

@using (Html.BeginForm("SaveAdd", "ComputerParameters")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Computer parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.processor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.processor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.processor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ram, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "GB" } })
                @Html.ValidationMessageFor(model => model.ram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hdd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hdd, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "GB" } })
                @Html.ValidationMessageFor(model => model.hdd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
        <button type="button" onclick="window.history.back();" class="btn btn-link">
            <span class="glyphicon glyphicon-backward"></span> Back
        </button>
    </div>
