@model Frycz_pcdb.computer

@{
    ViewBag.Title = "ComputerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="modal-title">Computer Detail</h2>

<div>
    <h4>computer</h4>
    <hr />
    @if (Model.discardedDate != null)
    {
        <div class="alert alert-danger" role="alert">
            This is computer is discarded from IT records. This computer should not be connected to the corporate network.
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.computer_brand.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_brand.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_brand.maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_brand.maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_update_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_update_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guarantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guarantee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.processor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.ram) GB
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.hdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.hdd) GB
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discardedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discardedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o.version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o.version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bpcs_sessions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bpcs_sessions)
        </dd>

        <!-- Modal for discard-->
        <div id="modalDis" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Discard computer</h4>
                    </div>
                    <div class="modal-body">
                        <p>Really you wanna discard computer <b>@Model.name</b> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Discard", "ComputerDetail", Model)'">Discard</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal for delete-->
        <div id="modalDel" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete computer</h4>
                    </div>
                    <div class="modal-body">
                        <p>Really you wanna permanently delete computer <b>@Model.name</b> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", "ComputerDetail", Model)'">Delete</button>
                    </div>
                </div>

            </div>
        </div>


    </dl>
    @if (User.Identity.Name != null && !User.Identity.Name.Equals(""))
    {

        <button type="button" onclick="location.href = '@Url.Action("Index", "EditComputer", Model)'" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
        <button type="button" data-toggle="modal" data-target="#modalDis" class="btn btn-secondary">
            <span class="glyphicon glyphicon-new-window"></span> Discard
        </button>
        <button type="button" data-toggle="modal" data-target="#modalDel" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>

        <div>


            <button type="button" onclick="location.href = '@Url.Action("Index", "AllComputer")'" class="btn btn-link">
                <span class="glyphicon glyphicon-backward"></span> Back to list
            </button>

            </div>
    }
    else
    {
        <div>
            <button type="button" onclick="location.href = '@Url.Action("Index", "Home")'" class="btn btn-link">
                <span class="glyphicon glyphicon-backward"></span> Back to search
            </button>

        </div>
    }

<script type="text/javascript">

    $(function() {
        $("#discardPop").click(function() {
            $("#modal").dialog({
                title: "Discard computer",
                width: 1000,
                height: 200,
                modal: true,


            });
        });
    })


</script>
