@model Frycz_pcdb.computer

@{
    ViewBag.Title = "ComputerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="modal-title">ComputerDetail</h2>

<div>
    <h4>computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_brand.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_brand.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_brand.maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_brand.maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_update_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_update_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bpcs_sessions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bpcs_sessions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guarantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guarantee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.processor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.ram) GB
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_parameters.hdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_parameters.hdd) GB
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.computer_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discarded_info.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discarded_info.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o.version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o.version)
        </dd>

    </dl>
    <button type="button" onclick="location.href = '@Url.Action("Index", "EditComputer", Model)'" class="btn btn-warning"><span class="
glyphicon glyphicon-edit"></span>   Edit</button>
</div>
